!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Osegbemh Dania's Portfolio
    / Bootstrap Compiled CSS from SCSS

    = stylesheet_link_tag "font-awesome/css/font-awesome"
    = stylesheet_link_tag "style"
    = stylesheet_link_tag "landing-page"
    = javascript_include_tag  "jquery"

    -# %link{:href => "stylesheets/style.css", :rel => "stylesheet"}/
    -# / Custom CSS
    -# %link{:href => "stylesheets/landing-page.css", :rel => "stylesheet"}/
    -# %link{:href => "stylesheets/font-awesome/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic", :rel => "stylesheet", :type => "text/css"}/
    -# %script{:src => "javascripts/jquery.js"}
    / Bootstrap Core JavaScript
    %script{:src => "./sass/bootstrap/javascripts/bootstrap.js"}

  %body
    =partial 'partials/navigation'

    = yield

    = partial 'partials/skillset'
    = partial 'partials/footer'
