!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Osegbemh Dania's Portfolio
    / Bootstrap Compiled CSS from SCSS

    = stylesheet_link_tag "style"
    = stylesheet_link_tag "landing-page"
    = stylesheet_link_tag "font-awesome/css/font-awesome"
    = javascript_include_tag  "jquery"

    -# %link{:href => "stylesheets/style.css", :rel => "stylesheet"}/
    -# / Custom CSS
    -# %link{:href => "stylesheets/landing-page.css", :rel => "stylesheet"}/
    -# %link{:href => "stylesheets/font-awesome/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic", :rel => "stylesheet", :type => "text/css"}/
    -# %script{:src => "javascripts/jquery.js"}
    / Bootstrap Core JavaScript
    %script{:src => "./sass/bootstrap/javascripts/bootstrap.js"}

  %body
    / Navigation
    .navbar.navbar-default.navbar-fixed-top.topnav{:role => "navigation"}
      .container.topnav
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand.topnav{:href => "#{}"} Osegbemoh Dania

        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => "#about"} About Me
            %li
              %a{:href => "#services"} Portfolio
            %li
              %a{:href => "#contact"} Contact Me
